[View in Colaboratory](https://colab.research.google.com/github/gr3ybr0w/cookbook/blob/master/Maximizing_Information_Gain.ipynb)

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.DataFrame([{'Gender': 'F', 'Occupation': 'Study', 'App': 'Pokemon'},
              {'Gender': 'F', 'Occupation': 'Work', 'App': 'WhatsApp'},
              {'Gender': 'M', 'Occupation': 'Work', 'App': 'SnapChat'},
              {'Gender': 'F', 'Occupation': 'Work', 'App': 'WhatsApp'},
              {'Gender': 'M', 'Occupation': 'Study', 'App': 'Pokemon'},
              {'Gender': 'M', 'Occupation': 'Study', 'App': 'Pokemon'}])

In [5]:
df

        App Gender Occupation
0   Pokemon      F      Study
1  WhatsApp      F       Work
2  SnapChat      M       Work
3  WhatsApp      F       Work
4   Pokemon      M      Study
5   Pokemon      M      Study

In [8]:
# Entropy of the parent, the App column
parent_entropy = -(3/6)*np.log2(3/6) - (2/6)*np.log2(2/6) - (1/6)*np.log2(1/6)
np.round(parent_entropy,2)

1.46

In [12]:
# Gender split
female_split = -(2/3)*np.log2(2/3) -(1/3)*np.log2(1/3)
np.round(female_split, 2)

0.92

In [13]:
male_split = -(2/3)*np.log2(2/3) -(1/3)*np.log2(1/3)
np.round(male_split, 2)

0.92

In [21]:
# average for gender
np.round((male_split + female_split) / 2, 2)

0.92

In [26]:
# information gain from gender split
np.round(np.round(parent_entropy,2) - np.round((male_split + female_split) / 2, 2), 2)

0.54

In [18]:
# Occpation split
study_split = -(3/6)*np.log2(3/3) - (3/3)*np.log2(3/3)
study_split

-0.0

In [20]:
work_split = -(2/3)*np.log2(2/3) - (1/3)*np.log2(1/3)
np.round(work_split,2)

0.92

In [23]:
# average for occupation
np.round((study_split + work_split / 2), 2)

0.46

In [25]:
# information gain from occupation split
np.round(np.round(parent_entropy,2) - np.round((study_split + work_split / 2), 2),2)

1.0

The highest information gain comes from occupation