<a href="https://colab.research.google.com/github/gr3ybr0w/cookbook/blob/master/pandas/preprocess/Outliers_tukey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame(pd.Series([5, 7, 10, 15, 19, 21, 21, 22, 22, 23, 23, 23, 23, 23, 24, 24, 24, 24, 25]), columns=['measure'])

In [0]:
def tukeyOutliers(data, col, return_outliers=True):
    """
    This function takes a dataframe with a numeric column and outputs the rows that are either outliers or not
    according to the Tukey rule.
    
    args
        data: DataFrame
        col: numberic column to use in the DataFrame
        return_outliers: If True then returns a DataFrame containing only the outliers from the selected column
        if False then returns all the data that is not an outlier. True is default
    output
        returns a DataFrame
    """
    Q1, Q3 = data[col].quantile(0.25), data[col].quantile(0.75)
    IQR = Q3 - Q1
    tukey = IQR * 1.5
    lower_range = Q1 - tukey
    upper_range = Q3 + tukey
    if return_outliers:
        return data[(data[col] >= upper_range) | (data[col] <= lower_range)]
    else:
        return data[(data[col] < upper_range) & (data[col] > lower_range)]

In [33]:
tukeyOutliers(df, col='measure', return_outliers=True)

   measure
0        5
1        7
2       10

In [34]:
tukeyOutliers(df, col='measure', return_outliers=False)

    measure
3        15
4        19
5        21
6        21
7        22
8        22
9        23
10       23
11       23
12       23
13       23
14       24
15       24
16       24
17       24
18       25